body {
    font: 24px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #ffd9b3;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 128px;
    font-weight: bold;
    line-height: 34px;
    height: 128px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 128px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }

  .game-board {
    width: 100%;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .move-list-item-selected {
    float: center;
    font-weight: bold;
  }

  .square.highlight {
    background: #008000;
  }

  button {
    font-size: 24px;
    background-color: #fff;
  }
